# Unity 자동 생성 폴더
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
# MemoryCaptures
/[Mm]emoryCaptures/
# Recordings
/[Rr]ecordings/
# Asset Store 다운로드 캐시
/[Aa]sset[Ss]tore[Tt]ools/
# IDE 자동 생성 파일
/*.csproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.svd
/*.pdb
/*.mdb
/*.opendb
/*.VC.db
# VS / Rider
/.vs/
/.idea/
.vscode/
# OS 생성 파일
.DS_Store
Thumbs.db
# Crashlytics
crashlytics-build.properties
# Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
# TextMeshPro (자동 생성)
/[Aa]ssets/TextMesh Pro/
# Plastic SCM
*.private.0
*.private

# Unity 패키지 (개인 환경별 패키지 상이 — 공용 변경 시에만 gitignore에서 제외 후 커밋)
Packages/manifest.json
Packages/packages-lock.json

# 개인 환경별 차이 발생 가능
ProjectSettings/PackageManagerSettings.asset
ProjectSettings/BurstAotSettings_StandaloneWindows.json
ProjectSettings/CommonBurstAotSettings.json

#AI 에이전트, MCP 관련
.claude/
.mcp.json
node_modules/
package.json
package-lock.json
.cursor/
CLAUDE.md


